# Compiled output
dist/
tmp/
out-tsc/
bazel-out/
build/
electron/

# Node
node_modules/
npm-debug.log
yarn-error.log

# React
.DS_Store
.env
.env.*
.vscode
coverage
*.pem

# Vite
.vite/

# Electron
renderer/
.cache
.webpack/
main.js
main.js.map
preload.js
preload.js.map
renderer.js
renderer.js.map

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.idea
.vscode/*
!.vscode/settings.json
!.vscode/events.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db
